<nav class="navbar navbar-expand-md navbar-dark mb-4 bg-navbar">
  <a class="navbar-brand" href="{{ url_for('index')}}">Creativerse</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('product_inv.index') }}">Product Inventory</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('material_inv.index') }}">Material Inventory</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('sales_stats.index') }}">Sales Stats</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('calculator.index') }}">Calculator</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('product_status.index') }}">Product Status</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('settings.index') }}">Settings</a>
      </li>
    </ul>
  </div>
</nav>