{% extends 'base.html' %}

{% block content %}
    <h1>Boticus</h1>
    <div class="row">
        <div class="col">
            <table Border="2" width="100%">
                <tr>
                    <th>
                        Bot Name
                    </th>
                    <th>
                        status
                    </th>
                </tr>
            </table>
            <table>
                <tr>
                    <td width="50%">
                        list of all bots and status
                    </td>
                    <td width="50%">
                        <select>
                            <option>bot 1</option>
                            <option>bot 2</option>
                        </select>
                    </br>
                        detailed bot status
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}