{% extends 'base.html' %}
{% block content %}
    <h1>Product {{ action_mode }}</h1>
    {% from 'includes/_formhelpers.html' import render_field_grid, save_cancel, delete, render_delete_modal, render_select %}
    <form id="alert_form" method="POST" action="">
        <fieldset>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Basic Details</h5>
                            {{ render_field_grid(product_form.Name, class_="w-75") }}
                            {{ render_field_grid(product_form.Process, class_="w-75") }}
                            {{ render_field_grid(product_form.Stage, class_="w-75") }}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Timings</h5>
                                {{ render_field_grid(product_form.Machining, class_="w-75") }}
                                {{ render_field_grid(product_form.Processing, class_="w-75") }}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Materials</h5>
                            <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap5">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dt-buttons btn-group flex-wrap">
                                            <button class="btn btn-secondary buttons-create" tabindex="0" aria-controls="example" type="button">
                                                <span>New</span>
                                            </button>
                                            <button class="btn btn-secondary buttons-selected buttons-edit disabled" tabindex="0" aria-controls="example" type="button" disabled="disabled">
                                                <span>Edit</span>
                                            </button>
                                            <button class="btn btn-secondary buttons-selected buttons-remove disabled" tabindex="0" aria-controls="example" type="button" disabled="disabled">
                                                <span>Delete</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="example_filter" class="dataTables_filter">
                                            <label>Search:
                                                <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example" class="table table-striped dataTable" cellspacing="0" width="100%" aria-describedby="example_info" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 175px;" aria-label="First name: activate to sort column descending" aria-sort="ascending">
                                            First name
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 174px;" aria-label="Last name: activate to sort column ascending">
                                            Last name
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 209px;" aria-label="Phone #: activate to sort column ascending">
                                            Phone #
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 160px;" aria-label="Location: activate to sort column ascending">
                                            Location
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="row_32" class="odd">
                                        <td class="sorting_1">Alexa</td>
                                        <td>Wilder</td>
                                        <td>1-727-307-1997</td>
                                        <td>London</td>
                                    </tr>
                                    <tr id="row_28" class="even">
                                        <td class="sorting_1">Basia</td>
                                        <td>Harrell</td>
                                        <td>1-528-238-4178</td>
                                        <td>New York</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="example_info" role="status" aria-live="polite">
                                Showing 1 to 10 of 35 entries
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="example_previous">
                                        <a href="#" aria-controls="example" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                    </li>
                                    <li class="paginate_button page-item active">
                                        <a href="#" aria-controls="example" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                    </li>
                                    <li class="paginate_button page-item ">
                                        <a href="#" aria-controls="example" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                    </li>
                                    <li class="paginate_button page-item ">
                                        <a href="#" aria-controls="example" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                                    </li>
                                    <li class="paginate_button page-item ">
                                        <a href="#" aria-controls="example" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                                    </li>
                                    <li class="paginate_button page-item next" id="example_next">
                                        <a href="#" aria-controls="example" data-dt-idx="5" tabindex="0" class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Postage</h5>
                                {{ render_field_grid(product_form.Packaging, class_="w-75") }}
                                {{ render_field_grid(product_form.Shipping, class_="w-75") }}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <hr>
        <div class="row">
            {% if action_mode =='Edit' %}
                {{ delete() }}
            {% endif %}
            {{ save_cancel() }}
        </div>
    </form>
    {% if action_mode == 'Edit' %}
        {{ render_delete_modal('calculator', Name=name) }}
    {% endif %}
{% endblock %}