{% extends 'base.html' %}

{% block content %}
<div>
    <div class="row">
        <div class="col-lg-11">
            <h1>Products</h1>
        </div>
        <div class="col-lg-1">
            <a class='float-right m-1' href="{{ url_for('calculator.create') }}">New Product</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 table-responsive">
            <table class="display table table-striped text-center table-bordered table-sm dataTable"
            cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
                <thead>
                    <tr role="row" style="background-color: #bbb">
                        <th>Name</th>
                        <th>Process</th>
                        <th>Stage</th>
                        <th>Edit</th>
                    </tr>
                    {% for product in products %}
                    <tr rol="row" class="odd">
                        <td>{{ product[0].Name }}</td>
                        <td>{{ product[2].Name }}</td>
                        <td>{{ product[1].Name }}</td>
                        <td>
                            <a class="btn btn-secondary" href="{{ url_for('calculator.edit', Name=product[0].Name) }}">Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}